


div{
  border: 1px solid blue;
}

header{
  width: 100%;
  height: 13%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
}

#title{
  float: left;
  margin-left: 13%;
  margin-top: 20px;
  line-height: 40px;
  font-size: 30px;
}

#cart{
  float: right;
  margin-right: 13%;
  margin-top: 20px;
  width: 120px;
}

#your-cart{
  width: 70px;
  display: inline-block;
  vertical-align: middle;
}

#cart-img{
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}







footer{
  background-color: #333333;
  width: 100%;
  height: 23%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer-head-container{
  color: #D3820B;
  font-weight: bold;
  line-height: 36px;
  font-size: 24px;
  margin: 15px auto 10px auto;
  width: 100px;
}

#phone-img,
#email-img{
  height: 30px;
  width: 30px;
  margin-left: 600px;
  margin-right: 10px;
  vertical-align: middle;
}

#phone-number, 
#email-address{
  line-height: 36px;
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}

#email-img{
  height: 20px;
}